<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.text_field :email, :placeholder => "Email" %>
  </p>
  <p>
    <%= f.password_field :password, :placeholder => "Password" %>
  </p>
  <p>
    <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
  </p>

    <%= f.radio_button :type_user, 'student', :checked => true %> Student
    <br><%= f.radio_button :type_user, 'company' %> Company
    <br><%= f.radio_button :type_user, 'director' %> Director
    <br><br>

  <%= button_tag(type: "submit", :class => "btn", :id => "create_user_button") do %>
    Create User
  <% end %>
<% end %>