<h1> Opportunities </h1>

<table width="100%">
	<tr>
		<th> Code </th>		
		<th> Company </th>
		<th> Address </th>
		<th> Salary </th>
		<th> Start Date </th>
		<th> End Date </th>
		<th> Requirements </th>
		<th> Action </th>
	</tr>

<% @opportunities.each do |opportunity| %>
	<tr>
	<td> <%= opportunity.code %> </td>
	<td> <%= opportunity.company %> </td>
	<td> <%= opportunity.address %> </td>
	<td> <%= opportunity.salary %> </td>
	<td> <%= opportunity.start_date %> </td>
	<td> <%= opportunity.end_date %> </td>	
	<td> <%= opportunity.requirements %> </td>	
	<td>

		<% if student? %>
		<%= link_to "Apply now!", apply_opportunity_path(opportunity) %>
		<% end %>

		<% if company? %>
		<%= link_to "Edit", edit_opportunity_path(opportunity) %> |
		<%= link_to "Delete", opportunity_path(opportunity), :method => "delete", :confirm => "Are you sure?" %> |
		<%= link_to "View Students", show_students_path(opportunity) %>
		<% end %>

		<% if director? %>
		<%= link_to("Approve", approve_opportunity_path(opportunity)) unless opportunity.approved %> |
		<%= link_to "Reject", opportunity_path(opportunity), :method => "delete", :confirm => "Are you sure?" %>
		<% end %>
	</td>
	</tr>
<% end %>
</table>
<br>
<p>
	<% if company? %>
	<%= link_to "Add new opportunity", new_opportunity_path, :class => "btn", :id => "add_new_opportunity_button" %>
	<% end %>
</p>

	<% if company? && @opportunity %>
	<table width="100%">
	<tr>
		<th> Students that applied for this opportunity</th>	
	</tr>
	<% @opportunity.users.each do |user| %>
	<tr>
	<td> <%= user.email %> </td>
	</td>
	</tr>
	<% end %>

<% end %>