<!DOCTYPE html>
<html>
<head>
  <title>Opportunities Management System</title>

  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

<% flash.each do |key, msg| %>
  <%= content_tag :div, msg, :id => key, :class => "alert alert-success" %>
<% end %>

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        
          <a class="brand" href="#">Opportunities Management System</a>
          <div id="user_nav">
            <% if current_user %>
              Logged in as <%= current_user.email %>.
              <%= link_to "Log out", log_out_path %>
            <% else %>
              <%= link_to "Sign up", sign_up_path %> or
              <%= link_to "log in", log_in_path %>
            <% end %>
          </div>
          
      </div>
    </div>

<%= yield %>

</body>
</html>
